@import "tailwindcss";

:root {
  --background: #dddddd;
  --foreground: #171717;
  /* Tailwind CSS 4 theme variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

li.border,
div.border {
  margin-bottom: 4px;
  background-color: #eeeeee;
  border-color: #cccccc;
  padding: 12px;
  gap: 12px;
}

.mb-2 {
  margin: 0;
}

.mx-2 {
  margin-inline: calc(var(--spacing) * 1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}